$color : #F3F1EF;
$color-primary:#231F20;

header {
    background-color: $color;
}
nav {
    font-family: poppins;
    border-bottom: 0.15rem solid $color-primary;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .main-nav {
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: right;
        display: flex;
        align-items: center;
    }

    ul {
        text-align: right;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
    }
    li {
        font-size: 15px;
        margin: 0 10px;
        // line-height: 60px;
        list-style: none;      
    }
}
.logo {
    width: 200px;
}
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 20%);

//link styling
a{
  color: $color-primary;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
  &:visited{
    color: $visited-color;
    border-color: $visited-color;
  }
}
  