$color : #F3F1EF;
$color-primary:#231F20;

header {
    background-color: $color;
}
nav {
    font-family: poppins;
    border-bottom: 0.15rem solid $color-primary;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .main-nav {
        padding: 10px 15px;
        text-transform: uppercase;
        text-align: right;
        display: flex;
        align-items: center;
    }

    ul {
        text-align: right;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
    }
    li {
        font-size: 15px;
        margin: 0 10px;
        // line-height: 60px;
        list-style: none;      
    }
}
.logo {
    width: 200px;
}

ul {
    list-style: none;
    a {
        color: $color-primary;
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: #E66F50;
        }
    }
}
.navigation-container {
    display: flex;
    align-content: center;
}
.about {
    display: block;
    text-align: center;
    min-width: 300px;
    max-width: 1200px;
        @media screen and (max-width: 1400px) {
            div.example {
                width: 1200px;
            }
        }
        @media screen and (max-width: 900px) {
            div.example {
                width: 700px;
            }
        }
}
.kya-about {
    display: flex;
    justify-content: center;
}